<div class="exchangercont">
  <div class="leftpart">
    <form>
      Base:
      <select class="comboBox" (change)="onCurrencyNameChange($event)">
        <option *ngFor="let currency of currencyIds" value={{currency}}>
            {{currency}}
        </option>
      </select>
    </form>
    <form>
      Date:
      <input class="dateSelector" required type="date" (change)="onDateChange($event)">
      <div class="error" [hidden]="noError">Select date, please</div> 
    </form>
    <button class="displayButton" (click)="displayCurrencyInfo($event)">Display</button>
  </div>
  <div class="rightpart">
      <app-sortabletable [rates]="rates"></app-sortabletable>
  </div>
</div>