<div class="exchangercont">
  <div class="leftpart">
    <form>
      Base:
      <select class="comboBox" (change)="onCurrencyNameChange($event)">
        <option *ngFor="let summary of summaries" value={{summary}}>
            {{summary}}
        </option>
      </select>
    </form>
    <form>
      Date:
      <input class="dateSelector" required type="date" (change)="onDateChange($event)">
      <div class="error" [hidden]="noError">Select date, please</div> 
    </form>
    <button class="displayButton" (click)="displayCurrencyInfo($event)">Display</button>
  </div>
  <div class="rightpart">
    <table>
      <tr>
        <th>Currency</th>
        <th>Buy</th>
        <th>Sell</th>
      </tr>
      <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
      </tr>
      <tr>
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
        <td>Mexico</td>
      </tr>
      <tr>
        <td>Ernst Handel</td>
        <td>Roland Mendel</td>
        <td>Austria</td>
      </tr>
      <tr>
        <td>Island Trading</td>
        <td>Helen Bennett</td>
        <td>UK</td>
      </tr>
      <tr>
        <td>Laughing Bacchus Winecellars</td>
        <td>Yoshi Tannamuri</td>
        <td>Canada</td>
      </tr>
      <tr>
        <td>Magazzini Alimentari Riuniti</td>
        <td>Giovanni Rovelli</td>
        <td>Italy</td>
      </tr>
    </table>
  </div>
</div>